<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="inetBankingV2">

<listeners>
        <listener class-name="com.inetBanking.utilities.Reporting"/>
</listeners>

	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.inetBanking.testCase.TC_AddNewCustomer_002" />
			<class name="com.inetBanking.testCase.TC_LoginTest_001" />
			<class name="com.inetBanking.testCase.TC_HomePage_slider_001" />
			<class name="com.inetBanking.testCase.TC_HomePage_ArrivalNavigate_003" />
			<class name="com.inetBanking.testCase.TC_HomePage_Arrival_002" />
			<class name="com.inetBanking.testCase.TC_HomePage_004" />
			<class name="com.inetBanking.testCase.TC_HomePage_005" />
			<class name="com.inetBanking.testCase.TC_HomePage_006" />
		
			
			
		</classes>
	</test>
</suite>